<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70614050-1', 'auto');
  ga('send', 'pageview');

</script>
<head>
  <title>KayKiy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>


<body id="body">
  <div class="topStuff">
    <div class="title">About KayKiy</div>
    <div class="bullets">
      <li><p><u>What is this?</u> This is an interactive website designed to challenge your perception of campus attitude both on and off YikYak.</p></li>
      <li><p><u>What is YikYak?</u> YikYak is an app that can be downloaded on most smart phones which operates as a sort of local twitter.
         People can post messages and anyone within a small radius of that person can see what they post. It is very popular on college campuses.
         This website is not affiliated with, nor does it endorse, YikYak or their affiliates.</p></li>
      <li><p><u>What's the point of all of this?</u> The idea is to get you thinking. As you guess on a post, you will either be right or wrong. As you guess, you are encouraged to reflect on the answers.
          Does the rest of the campus share your views and opinions? Should you reevaluate your opinions? Should the campus start to shift
          its attitude? These are the types of questions that should come up every time you interact with a post.</p></li>
      <li><p><u>Who made this?</u> This website was designed by Devon Wasson, a Computer Science and Engineering major at Bucknell University, and advised by Bucknell University's Professor Evan Peck (<a href="mailto:evan.peck@bucknell.edu" target="_blank">evan.peck@bucknell.edu</a>).
              Devon will be working as an intern with Amazon Robotics this summer and currently does freelance web design for the Bucknell University office of Campus Activities & Programs.</p></li>
      <li><p><u>Where did this data come from?</u> Data was collected from YikYak once every five minutes for the entire month of April in 2015 at Bucknell's campus. Data was stored while taking
          note of the actual post, when it was posted, when it was observed, how many votes it had at the time, and a few other trivial points.</p></li>
      <li><p><u>Tell me more about the graph that appears.</u> The graph shows the lifespan of a post on YikYak (specifically, the post that you just guessed on).
          The blue line is the most recent line, and the green lines are from previous posts. The graph shows change in votes over time (in minutes) and allows you to build
          your own sample data set to get an idea of how posts generally work on YikYak.</p></li>
      <!-- li><p><u>What about the big graph?</u> That graph is the set of all data recorded. That is the true spread of how posts tend to live and die on YikYak.
          It will probably be a bit laggy on most computers because there is a lot of data (nearly 1 million unique points) to be loaded into the JavaScript every time.</p></li>
      <li><p><u>How about the word tree?</u> That too covers all of the data, but instead of showing how a post lives and dies, it shows how all of the posts relate. A word tree
          takes a common root word, and then shows all of the words that follow in every post. Some posts will share a following word to the root word. That word can then be treated as a new
          root word and explored in its own sense. The word tree is designed to give you an idea of how people speak about specific words. Feel free to use the search bar to test out your own
          root words. Also, this too may be a bit laggy considering the data it has to deal with.</p></li -->
      <li><p><u>What's next?</u> While collecting data, both posts and comments were collected. Everything on this website only reflects the actual posts, but I would like to do something involving the
          comments at some point. I'm just not sure what/if I'll ever have the time.</p></li>
      <li><p><u>Can I take a look at your code?</u> Sure, just send an email to <a href="mailto:devonwasson@gmail.com" target="_blank">devonwasson@gmail.com</a> and I'll gladly consider your request. Please specify if you
          would like information on the collecting, the data processing, the JavaScript, or the markup code.</p></li>

    </div>
  </div>


</body>


<div class="links">
  <li><a href="/">Home</a></li>
  <!-- li><a href="/graph">Complete Graph</a></li>
  <li><a href="/tree">Word Tree</a></li !-->
  <li><a href="">About</a></li>
  </div>

  <div class="image"></div>
</html>
