body {
  background-color: #30dbbd;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding-bottom: 105px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
}

.text{
  position: fixed;
  height:120px;
  font-size: 1.2em;
  background-color: #30dbbd;
  width: 100%;
}

#vis{
  padding-top: 120px;
  padding-bottom: 20px;
}

path{
  stroke:#b8b7b7;
  stroke-width: 1.6;
  fill:none;
}

path.current,path.highlight.current{
  stroke:#000;
  stroke-width:2.2;
}

line{
  stroke:black;
}

.axis{
  stroke-width:0.8;
  stroke:#000;
}

.xTicks,.yTicks{
  stroke-width:0.6;
  stroke:#000;
}

.graph-svg-component {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #FAF8F2;
}

.image{
  background-image:url("https://41.media.tumblr.com/98e701d3c63ea883c7f9c67108c92179/tumblr_nx9r2gC49C1r438poo1_540.png");
  height: 100px;
  width: 100%;
  margin: 0;
  bottom: 0;
  position: fixed;
  background-size: 750px 100%;
}

a:link,a:visited {
   color: #54adf1;
   background-color: #30dbbd;
   text-decoration: none;
   target-new: none;
}
  a:hover {
   color: #FFFFFF;
   background-color: #30dbbd;
   text-decoration: underline;
   target-new: none;
}

.links{
  background-color:#30dbbd;
  font-size: 20px;
  display: inline;
  margin: 0;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 100px;
  text-align: left;
  padding-left: 10px;
}

.links li{
  padding-top: 100px;
  margin:  0 3% 0  0;
  display: inline;
}
